In [104]:
import pandas as pd
import os

In [105]:
df = []
for folders in pd.read_csv(r"C:\Users\Artsy\Desktop\Dog_Breed_Categorization\labels.csv"):
    breed = "".join(folders.split("-")[1:])
    df.append(breed)
    
# Converts to sorted ndarray
df = np.array(sorted(df))
len(unique_breeds), unique_breeds[:10]

(8,
 array(['Bernese_mountain_dog', 'Chihuahua', 'Old_English_sheepdog',
        'Pomeranian', 'Rhodesian_ridgeback', 'Samoyed', 'golden_retriever',
        'pug'], dtype='<U20'))

In [106]:
unique_breeds = []

for folders in os.listdir(r"C:\Users\Artsy\Desktop\Dog_Breed_Categorization\db_images\images\Images"):
    breed = "".join(folders.split("-")[1:])
    unique_breeds.append(breed)
    
# Converts to sorted ndarray
unique_breeds = np.array(sorted(unique_breeds))
len(unique_breeds), unique_breeds[:10]

(8,
 array(['Bernese_mountain_dog', 'Chihuahua', 'Old_English_sheepdog',
        'Pomeranian', 'Rhodesian_ridgeback', 'Samoyed', 'golden_retriever',
        'pug'], dtype='<U20'))

In [107]:
df = pd.DataFrame(df)
df

  0
0
1
2

In [101]:
df2 = pd.DataFrame(unique_breeds)
df2

                      0
0  Bernese_mountain_dog
1             Chihuahua
2  Old_English_sheepdog
3            Pomeranian
4   Rhodesian_ridgeback
5               Samoyed
6      golden_retriever
7                   pug

In [102]:
df2.rename(columns={0: "breed"})

                  breed
0  Bernese_mountain_dog
1             Chihuahua
2  Old_English_sheepdog
3            Pomeranian
4   Rhodesian_ridgeback
5               Samoyed
6      golden_retriever
7                   pug

In [103]:
new_df = df.merge(df2, how='inner', on='breed')

KeyError: 'breed'

In [42]:
labels = df[df["breed"].isin(["chihuahua", "rhodesian_ridgeback", "golden_retriever","old_english_sheepdog",
                             "bernese_mountain_dog", "pug", "samoyed","pomeranian"])]

In [43]:
labels

                                     id                 breed
4      0021f9ceb3235effd7fcde7f7538ed62      golden_retriever
25     00a366d4b4a9bbb6c8a63126697b7656      golden_retriever
37     0100f55e4f0fe28f2c0465d3fc4b9897      golden_retriever
65     019ff93e03802e661577b5869e099dcb   rhodesian_ridgeback
70     01b36cb1b80ab8c3a7d2b7128ad21bdc               samoyed
...                                 ...                   ...
10170  feb16cf86c9dac6d476e3c372ba5c279                   pug
10172  febcab8eb2da444bf83336cffec7eb92      golden_retriever
10178  fef5d4cdaf50cf159102e803c7d6aa9c  bernese_mountain_dog
10198  ff6f47aa8e181b6efa4d0be7b09b5628      golden_retriever
10216  ffcffab7e4beef9a9b8076ef2ca51909               samoyed

[741 rows x 2 columns]

In [46]:
labels.to_csv(r"C:\Users\Artsy\Desktop\Dog_Breed_Categorization\labels.csv")